.dark, .light {
    --text-color: #c6d0f5;
    --text-color-muted: #a5adce;
    --text-color-strong: #c6d0f5;

    --background-color: #303446;
    --background-color-alt: #232634;
    --background-color-selected: rgba(148, 156, 187, 0.3);
    
    --titlebar-background-color: #232634;
    --titlebar-background-color-alt: rgba(148, 156, 187, 0.3);
    --titlebar-color: #a5adce;

    --accent-color-blue: #8caaee;
    --accent-color-red: #e78284;
    --accent-color-yellow: #e5c890;
    --accent-color-green: #a6d189;

    --box-shadow: 0.125rem 0.25rem 1rem rgba(0, 0, 0, 0.125);
    --accent-color: #f4b8e4;

    --hover-color: rgba(148, 156, 187, 0.3);
    --hover-color-alt: rgba(148, 156, 187, 0.3);

    --border-color: #414559;

    --input-color: #232634;
    --input-color-hover: rgba(148, 156, 187, 0.3);

    --scrollbar-track-color: transparent;
    --scrollbar-thumb-color: #414559;
    --scrollbar-thumb-not-hover: #414559;
    --scrollbar-thumb-hover-color: #949cbb;
    --scrollbar-thumb-border: none;
    --scrollbar-border-not-hover: none;

    color: var(--text-color);
    background: var(--background-color);
}

.dark .tag, .light .tag {
    background-color: var(--accent-color);
}

.dark .btn-filled, .light .btn-filled {
    --text-color: var(--background-color);
    --text-color-strong: var(--background-color);
}
.dark *::selection, .light *::selection {
    background-color: rgba(244, 184, 228, 0.3);
}