.dark, .light {
  --text-color: #cad3f5;
  --text-color-muted: #a5adcb;
  --text-color-strong: #cad3f5;

  --background-color: #24273a;
  --background-color-alt: #181926;
  --background-color-selected: rgba(147, 154, 183, 0.3);

  --titlebar-background-color: #181926;
  --titlebar-background-color-alt: rgba(147, 154, 183, 0.3);
  --titlebar-color: #a5adcb;

  --accent-color-blue: #8aadf4;
  --accent-color-red: #ed8796;
  --accent-color-yellow: #eed49f;
  --accent-color-green: #a6da95;

  --box-shadow: 0.125rem 0.25rem 1rem rgba(0, 0, 0, 0.125);
  --accent-color: #b7bdf8;

  --hover-color: rgba(147, 154, 183, 0.3);
  --hover-color-alt: rgba(147, 154, 183, 0.3);

  --border-color: #363a4f;

  --input-color: #181926;
  --input-color-hover: rgba(147, 154, 183, 0.3);

  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: #363a4f;
  --scrollbar-thumb-not-hover: #363a4f;
  --scrollbar-thumb-hover-color: #939ab7;
  --scrollbar-thumb-border: none;
  --scrollbar-border-not-hover: none;

  color: var(--text-color);
  background: var(--background-color);
}

.dark .tag, .light .tag {
  background-color: var(--accent-color);
}

.dark .btn-filled, .light .btn-filled {
  --text-color: var(--background-color);
  --text-color-strong: var(--background-color);
}
.dark *::selection, .light *::selection {
  background-color: rgba(183, 189, 248, 0.3);
}
